@font-face {

	/*Police utilisée dans tout le site*/
    font-family: 'CaviarDreams';
    src: url('font/CaviarDreams/CaviarDreams.ttf') format('truetype');

}

*
{
	margin : 0;
	padding : 0;
	font-family: 'CaviarDreams';
}

h1
{
	/*Réglage de la taille des titres*/
	font-size: 3em;
}

.carte
{
	margin-left : 25%;
	float : left;
}

#tip
{
	margin-top : 100px;
}

input
{
	height : 45px;
	width : 295px;
	border : none;
	border-radius:3px;
	padding-left : 5px;
}

.lycee
{
	text-align : center;
	background-color: rgb(235, 234, 237);
	height : 500px;
}

body
{
	background-color: rgb(240,240,240);
}

.partChoixLycee
{
	height : 800px;
	background-color: rgb(235, 234, 237);
}

.partIndex1
{
	width : 100%;
	height : 1200px;
	background-image: url("images/city2.jpg");
	background-size : 100% 1200px;
}

.partIndexInscr
{
	width : 100%;
	height : 1200px;
	background-image: url("images/canyon.jpg");
	background-size : 100% 1200px;
}


/*Barre de navigation Index*/
.naviIndex
{
	margin-top : 15px;
}

a
{
	text-decoration: none;
	color : #DF3A01;
}

a:hover
{
	text-decoration: underline;
	color : #61210B;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

#menuCompte
{
	position:absolute;
	top:18px;
	right:5%;
}

nav li
{
    margin-top: 10px;
    margin-right : 10%;
    margin-left : 10%;
}

.nbInscriptions
{
	margin-top: 10px;
    margin-right : 10%;
    margin-left : 0%;
}

.buttonConnectIndexBar
{
	margin-top : 0px;
	padding-bottom : 15px;
}

nav a, nav p
{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size : 1.2em;
	color : #0A0A2A;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
	color : #0B0B61;
    text-decoration: underline;
}

/*Bouton Connexion (vert)*/
.bC
{
	width : 300px;
	height : 50px;
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:3px;
}
.bC:hover
{
	background-color: #449A47;
}
/*Bouton Inscription petit (Orange)*/
.bCoPetit
{
	width : 150px;
	height : 50px;
	background-color: #FF8000;
    border: none;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:3px;
}

.bCoPetit:hover
{
	background-color: #DF7401;
}

.bCo
{
	width : 300px;
	height : 50px;
	background-color: #FF8000;
    border: none;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:3px;
}

.bCo:hover
{
	background-color: #DF7401;
}

.bCPetit
{
	width : 150px;
	height : 50px;
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:3px;
}

.bCPetit:hover
{
	background-color: #4CAF50;
}

.couple
{
	/*Couple présentation / connexion*/
	color : rgb(250,250,250);
	text-align : center;
	padding-top : 220px;
	margin-left : 15%;
	margin-right : 15%;
}


.connect
{
	float : right;
	display : inline-block;
}

.inscript
{
	margin-top : 50px;
	float : left;
	display : inline-block;
	margin-left : 20%;
}

/*text au centre de hr*/
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.present{
	width:500px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
/*--------------*/

.navigateur
{
	width : 50%;
	margin-left : 10%;

}
#logo
{
	margin-left: 0px;
}

#menu-demo2, #menu-demo2 ul{
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
	width : 150px;
}

#menu-demo2 li{
	display:inline-block;
	position:relative;
	border-radius:8px 8px 0 0;
	width : 150px;
}

#menu-demo2 ul li{
	display:inherit;
	border-radius:0;
}

#menu-demo2 ul li:hover{
	border-radius:0;
}

#menu-demo2 ul li:last-child{
	border-radius:0 0 8px 8px;
}

#menu-demo2 ul{
	position:absolute;
	z-index: 1000;
	max-height:0;
	left: 0;
	right: 0;
	overflow:hidden;
	-moz-transition: .8s all .3s;
	-webkit-transition: .8s all .3s;
	transition: .8s all .3s;
}

#menu-demo2 li:hover ul{
	max-height:15em;
}

/* background des liens menus */
#menu-demo2 li:first-child{
	background-color: #FA8258;
	background-image:-webkit-linear-gradient(top, #FA8258 0%, #FA8258  100%);
	background-image:linear-gradient(to bottom, #FA8258 0%, #FA8258 100%);
}

/* background des liens sous menus */
#menu-demo2 li:first-child li{
	background:#F7BE81;
}

/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
	background:#FA8258;
}

#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
	background:#FA8258;
}

#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
	background:#FA8258;
}

#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
	background:#FA8258;
}
/* les a href */
#menu-demo2 a{
	text-decoration:none;
	display:block;
	padding:8px 32px;
	color:#fff;
	font-family:arial;
}

#menu-demo2 ul a{
	padding:8px 0;
}

#menu-demo2 li:hover li a{
	color:#fff;
	text-transform:inherit;
}

#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
	color:#000;
}

#deconnect
{
	display: none;
}